@model IEnumerable<MSBandHealth.Models.Pulse>

@{
    ViewBag.Title = "Pulses and Pulse Metrics";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    Pulse Chart <br>
    <div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        // empty objects for our data and to create chart
        seriesData = [];
        chart1 = {
            yAxisMin: null,
            yAxisMax: null
        };
        BPM = [];
        time1 = [];

        var url = 'http://msbandhealth.azurewebsites.net/odata/PulsesAPI/';

        $.ajax({
            url: url,
            dataType: 'json',
            context: seriesData,
            success: function (data) {


                // structure our data 
                for (var i = 0; i < data.value.length; i++) {
                    bpm = data.value[i].BPM;
                    time = data.value[i].Time;
                    console.log(time);
                    this.push([time, BPM]);
                    BPM.push(bpm);
                    time1.push(time);
                }

                console.log(seriesData);
                // find the highest pulse  so we can set it to the highest y point
                chart1.yAxisMax = (function (array) {
                    var pulse_array = [];

                    for (var i = 0; i < array.length; i++) {
                        if (array[i] != null) {
                            pulse_array.push(array[i]);
                        }
                    }
                    return Math.max.apply(Math, pulse_array);
                })(BPM);

                // find the lowest pulse rate and set it to lowest y point
                chart1.yAxisMin = (function (array) {
                    var pulse_array = [];

                    for (var i = 0; i < array.length; i++) {
                        if (array[i] != null) {
                            pulse_array.push(array[i]);
                        }
                    }
                    return Math.min.apply(Math, pulse_array);
                })(BPM);

                // set our data series and create new chart
                chart1.data.series[0].data = BPM;
                chart = new Highcharts.Chart(chart1.data);
                $('#chartcontainer').css({
                    height: '400px'
                });
            }
        })


        // give highcharts something to render to
        var container = document.getElementById("chartcontainer")

        chart1.data = {

            chart: {
                renderTo: container,
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        // needs to be an ajax call to microsoft band api
                        // var series = this.series[0].data;
                        // setInterval(function() {
                        //     var x = time1, // current time
                        //         y = BPM;
                        //     series.addPoint([x, y], true, true);
                        // }, 1000);
                    }
                }
            },
            title: {
                text: 'Microsoft Band: Real Time Pulse Analysis'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                min: chart1.yAxisMin,
                max: chart1.yAxisMax,
                title: {
                    text: 'Heart Rate'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Beats Per Minute',
                data: null
            }]


        };
    </script>


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPM)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPM)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
